*{
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
body{
    display: flex;
    flex-direction: column;
    background: rgb(0,5,255);
background: linear-gradient(0deg, rgba(0,5,255,1) 0%, rgba(0,104,255,1) 50%, rgba(0,212,255,1) 100%);
}
header{
    position: fixed;
    background-color:black;
    width:100%;
    height: 10%;
    z-index: 1;
}

ul{
    list-style: none;
    color: white;
    display: block;
}
li{
    display: inline;
}

footer{
    background-color: black;
    width:100%;
    height: 10%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.logo{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 50px;
    margin-left: 20px;
    background-color: white;
    color:black;
}
.logo:hover{
    color:white;
    cursor: pointer;
}
.container{
    height: 50%;
    width: 70%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.login{
    float: right;
    font-size:x-large;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:aqua;
    cursor:pointer;
}
.cell,.cell1{
    display: flex;
    background: rgb(55,126,87);
background: linear-gradient(135deg, rgba(55,126,87,1) 0%, rgba(70,157,109,1) 50%, rgba(92,219,149,1) 100%);
    width:150;
    height: 150;
    font-size:100;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
}
.cell1{
    font-size: 70;
    background: rgb(5,56,107);
background: linear-gradient(135deg, rgba(5,56,107,1) 0%, rgba(7,87,167,1) 50%, rgba(7,114,222,1) 100%);
 align-items: center;
    justify-content: center;
    border-color:#edf5e1;
}
.matrix1,.matrix2,.matrix3{
    display: flex;
    flex-direction: column;
    width:450;
    height: 450;
}
.matrix2{
    position: absolute;
    right:15%;
}
.matrix3{
    margin-left: auto;
    margin-right: auto;
}

.prvi,.drugi,.treci{
    display: flex;
    flex-direction: row;
}
.rjesenje{
    display: flex;
    flex-direction: row;
    
    width:70vw;
    height: 450;
    margin-top: 50px;
}
.container1{
    display: flex;
    flex-direction: row;
    height: 450;
    width:70%;
    
    
}
.container3{
    display: flex;
    flex-direction: column;
    margin-top:5%;
    
}
.container{
    min-height: 120vh;
}
.izmedu{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 2%;
}
.gumbRandom{
    display: flex;
    height: 50px;
    width: 200px;
    
}
.gumbClear{
    display: flex;
    height: 50px;
    width: 200px;
}
.gumbZbroj{
    margin-top: 10%;
}
.gumbZbroj,.gumbRazlika,.gumbMnozenje{
    font-size: 50;
    width:100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    
}
.gumbDetA,.gumbInverseA,.gumbScalarA,.gumbTransA,.gumbDetB,.gumbInverseB,.gumbScalarB,.gumbTransB{
    height: 50px;
    width: 200px;
    
}
.gumbScalarA,.gumbScalarB{
    width:150px;
}
.skalarA,.skalarB{
    width:50px;
    height: 50px;
}
.skalarA{
    margin-left: -10px;
    
}
.skalarB{
    margin-left:-8px;
}
.lijevo,.desno{
    display: flex;
    flex-direction: column;
    
}
.lijevo{
    margin-left:auto;
}
.desno{
    margin-right: auto;
}
.gumbRandom,.gumbClear{
    display:flex;
    align-items: center;
    justify-content: center;
    
}
button,.skalarA,.skalarB{
    color:#edf5e1;
    background: rgb(4,133,4);
background: linear-gradient(90deg, rgba(4,133,4,1) 0%, rgba(4,180,4,1) 50%, rgba(0,255,0,1) 100%);
    border:0;
    margin-bottom: 1%;
    border-radius: 10px;
    font-size: 25;
}
button:hover{
    transition: 0.75s;
    background: none;
    background-color: #FF3B28;
    cursor: pointer;
}
.pocetna, .kalkulator {
    font-size: 25;
}
h2{
    font-size: xx-large;
}
.gumbZbroj{
    animation-name: animGumbi;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.gumbRazlika{
    animation-name: animGumbi2;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.gumbMnozenje{
    animation-name: animGumbi;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.gumbDetA,.gumbDetB,.gumbTransA,.gumbTransB{
    animation-name: animGumbi3;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.scalar,.gumbInverseA,.gumbInverseB{
    animation-name: animGumbi4;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.gumbRandom,.gumbClear{
    animation-name: animGumbi5;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes animGumbi{
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animGumbi2{
    25%{
        transform: rotate(-90deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    75%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes animGumbi3{
    50%{
        transform: translateX(-50px);
        transition: 0.5s;
    }
    100%{
        transform: translateX(50px);
        transition: 0.5s;
    }
}
@keyframes animGumbi4{
    50%{
        transform: translateX(50px);
        transition: 0.5s;
    }
    100%{
        transform: translateX(-50px);
        transition: 0.5s;
    }
}
@media (max-width: 992px){
    .container{
        width:100%;
    }
    
}
@keyframes animGumbi5{
    50%{
        transform: scale(0.25);
    }
}

@media (max-width: 576px){
    .container{
        width:100%;
    }
    .container3{
        flex-direction: column;
    }
    .container1{
        flex-direction: column;
    }
    .rjesenje{
        flex-direction: column;
    }
    .desno{
        width: 100%;
    }
    .matrix1,.matrix2,.izmedu{
        width:100%;
    }
}
